.container{
    width: 100vw;
    height: 100vh;
    

    display: grid;
    place-items: center;
    overflow: hidden;
}

.title{
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 20px;
    color: rgb(107 117 128 / 1);
    margin-top: 6rem;
}
.container img{
    width: 300px;
    height: 400px;
    border-radius: 8px;
}

.content{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width:768px) {
    .info p{
        font-size: medium;
    }
    
}

@media (max-width:425px) {
    .container{
        width: 100%;
    }
    .container img{
        width: 200px;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
        margin-top: 8px;
    }

    
    .content{
        flex-direction: column;
        align-items: center;
    }
    .info{
        width: 100%;
        padding: 0;
    }
    .info h4{
        font-size: 24px;
    }
    .info p{
        text-align: justify;
        padding: 12px;

    }
}